.statBar {
  margin-top: 8px;
  margin-left: 20px;
  background-color: var(--elemColor);
  width: 98%;
  margin-bottom: 16px;
  height: 3.5rem;
  border-radius: 6px;
  display: flex;
  padding: 9px;
  justify-content: flex-end;
}

.search {
  width: 23em;
  padding: 5px;
}
#icon {
  left: 8px;
  filter: grayscale(100%) opacity(0.5);
  width: 50%;
}

.notifBell {
  width: 1.7rem;
  margin: auto 3rem;
  height: 1.5rem;
  filter: invert(100%);
}

.notifBell:hover{
  cursor: pointer;
}

.userProf {
  height: 2rem;
  width: 2rem;
  margin: auto 0;
  margin-right: 2rem;
}

.userProf img {
  height: 2rem;
  border-radius: 50%;
  border: 2px solid #767676;
}
.userProf img:hover {
  cursor: pointer;
}

.subtitle{
  color: white;
  padding: 5px;
}