.statBar {
  margin-top: 8px;
  margin-left: 20px;
  background-color: var(--elemColor);
  width: 98%;
  margin-bottom: 16px;
  height: 4rem;
  border-radius: 6px;
  display: flex;
  padding: 9px;
  justify-content: flex-end;
}

.search {
  width: 23em;
  padding: 5px;
}
#icon {
  left: 8px;
  filter: grayscale(100%) opacity(0.5);
  width: 50%;
}

.notifBell {
  width: 2rem;
  margin: auto 1rem;
  height: 2.5rem;
  filter: invert(100%);
}

.notifBell:hover {
  cursor: pointer;
}

.userProf {
  height: 3rem;
  width: auto;
  margin: auto 0;
  display: flex;
  padding: 6px;
  margin-right: 2rem;
  align-items: center;
}
.userProf div {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.userProf div span {
  color: white;
}

.userProf div span.subtitle {
  padding: 0;
}
.userProf img {
  height: 3rem;
  border-radius: 50%;
  width: 3rem;
  margin-left: 0.5rem;
}
.userProf img:hover {
  cursor: pointer;
}

.subtitle {
  color: white;
  padding: 5px;
}
