{%extends 'staff/staffLayout.html'%} {%block content%}
<link
  rel="stylesheet"
  href="{{url_for('static',filename='css/staff/animals.css')}}"
/>

<div class="animalManagement">
  <h1 class="title is-3">
    Animal Management
  </h1>
  <div class="utils">
    <div class="options">
      <a class="button" onclick="displayModal()">
        <img src="{{url_for('static',filename='images/add.png')}}" alt="" />
        <p>New</p>
      </a>
      <a class="button">
        <img src="{{url_for('static',filename='images/arch2.png')}}" alt="" />
        <p>Archive</p>
      </a>
      <a class="button">
        <img src="{{url_for('static',filename='images/thermo.png')}}" alt="" />
        <p>Sick</p>
      </a>
      <a class="button">
        <img src="{{url_for('static',filename='images/events.png')}}" alt="" />
        <p>Events</p>
        <a class="button">
          <img src="{{url_for('static',filename='images/dolla.png')}}" alt="" />
        <p>Sponsor</p>
      </a>
    </div>

    <div class="dynamicContent">
      {% if addForm == False %}
      <div class="pie">
        <canvas id="pie" width="350px" height="250px"></canvas>
      </div>
      {% else %} {%include 'staff/animalForm.html'%} {%endif%}
    </div>
  </div>
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <header class="modal-card-head">
        <p class="modal-card-title">Select Animal Category</p>
        <button
          class="delete"
          aria-label="close"
          onclick="displayModal()"
        ></button>
      </header>
      <div class="categories">
        {% for category in categories %}
        <div
          class="animal"
          style="background-image: url(/static/images/{{category['profile']}});"
          onclick="addAnimal('{{category['category']}}')"
        >
          <h1>{{category['category']}}</h1>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script
  defer
  src="{{url_for('static',filename='js/staff/animals.js')}}"
></script>
{% endblock %}
