<div class="field">
  {{form.clutch_size.label(class="label")}}
  <div class="control">
    {{form.clutch_size(class="input",placeholder="Mammal Classification")}}
  </div>
</div>

<div class="field">
  {{form.wing_span.label(class="label")}}
  <div class="control">
    {{form.wing_span(class="input",placeholder="Average Body Temperature in\
    °C")}}
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      {{form.fly()}} Can fly?
    </label>
  </div>
</div>

<div class="field">
  {{form.plumage.label(class="label")}}
  <div class="control">
    {{form.plumage(class="input",placeholder="Average Body Temperature in °C")}}
  </div>
</div>
