<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff Hub</title>
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='css/bulma/css/bulma.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/staff/index.css')}}" />
    <script src="https://use.fontawesome.com/be941a4efe.js"></script>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='images/favicon.jpg')}}"/>
  </head>
  <body>
    <div class="dashboard">
      {%include'staff/sideBar.html'%}
      <div class="header">
        {%include 'staff/header.html'%}
      </div>
      <div class="mainBody">
        {% block content %}
        <h1>staff hub</h1>
        {% endblock content%}
      </div>
    </div>
  </body>
</html>
