<link rel="stylesheet" href="{{url_for('static',filename='css/featured.css')}}" />
<div
  class="container is-fluid subNav"
  style="background-image: url({{feature}});"
>
  <div class="container subBar">
    <div style="display: flex;" class="logoAndTitle">
      <img src="{{url_for('static',filename='images/logo.jpg')}}" />
      <h1 class="title is-1">Claybrook Zoo</h1>
    </div>
    <a class="is-3" href="/animals"><p>Animals</p></a>
    <a class="is-3"><p>Sponsors</p></a>
    <a class="is-3"><p>Help</p></a>
  </div>
  <div class="container speech">
    <h1 class="title is-1">
      {{details}}
    </h1>
    <div class="options">
      <button class="button is-primary is-medium">Donate</button>
      <button class="button is-warning is-medium">Plan a trip</button>
    </div>
  </div>
</div>
