<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if title %} {{title}} {% else %} Claybrook Zoo {%endif%}
    </title>
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="static/css/index.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="static/js/index.js"></script>
  </head>
  <body>
    <script>
      console.log("{{session}}");
    </script>
    {% if banner == True%}
    <div
      class="container is-fluid head"
      style="transform: translate(0, -110px);"
    >
      {% include 'banner.html' %}
    </div>
    {%endif%} {% include 'header.html' %} {% block content %} {% endblock %}
    <div class="container is-fluid">
      {% block register %} {% endblock register %} {% with messages =
      get_flashed_messages(with_categories=true) %} {% if messages %}
      <div class="content">
        {% for category,msg in messages %}
        <div class="{{category}}">
          {{msg}}
        </div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
    </div>
    {% include 'footer.html' %}
    <style>
      @keyframes zooooom {
        from {
          visibility: hidden;
          opacity: 0;
        }
        to {
          visibility: visible;
          opacity: 1;
        }
      }
    </style>
  </body>
</html>
