<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if title %} {{title}} {% else %} Default Title {%endif%}
    </title>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="static/css/index.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="static/js/index.js"></script>
  </head>
  <body>
    <div class="container is-fluid head">
      {% include 'banner.html' %}
    </div>
    {% include 'header.html' %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %} 
          {% if messages %}
          <div class="content">
           {% for category,msg in messages %}
            <div class="{{category}}">
              {{msg}}
            </div>
            {% endfor %} 
          </div>
          {% endif %} 
        {% endwith %}
      <div class="content block">
        {% block content %}
        <h1>Default</h1>
        {% endblock %}
      </div>
      <div class="content">
        {% block register %} {% endblock register %}
      </div>
    </div>
  </body>
</html>
