{% extends "layout.html" %} 
{% block register %}

<link rel="stylesheet" href="static/css/register.css">
<div class="panel">
  <p class="panel-heading">
    Register:
  </p>
  <div class="panel-block">
    <form action="" method="POST">
      {{form.hidden_tag()}}
      <div class="field">
        {{form.username.label(class="label")}}
        <div class="control has-icons-left has-icons-right">
          {{form.username(class="input is-danger" if form.username.errors else
          "input",placeholder="Enter Username")}}
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fa fa-check"></i>
          </span>
        </div>
        {% if form.username.errors %} {% for error in form.username.errors %}
        <p class="help is-danger">{{error}}</p>
        {% endfor %} {% endif %}
      </div>

      <div class="field">
        {{form.email.label(class="label")}}
        <div class="control has-icons-left has-icons-right">
          {{form.email(class="input is-danger" if form.email.errors else
          "input",placeholder="Enter Email")}}
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fa fa-exclamation-triangle"></i>
          </span>
        </div>
        {% if form.email.errors %} {% for error in form.email.errors %}
        <p class="help is-danger">{{error}}</p>
        {% endfor %} {% endif %}
      </div>

      <div class="field">
        {{form.password.label(class="label")}}
        <div class="control">
          {{form.password(class="input is-danger" if form.password.errors else "input",placeholder="Enter Password")}}
        </div>
        {% if form.password.errors %} {% for error in form.password.errors %}
          <p class="help is-danger">{{error}}</p>
        {% endfor %} {% endif %}
      </div>

      <div class="field">
        {{form.confirmPassword.label(class="label")}}
        <div class="control">
          {{form.confirmPassword(class="input is-danger" if form.confirmPassword.errors else "input",placeholder="Confirm Password")}}
        </div>
        {% if form.confirmPassword.errors %} {% for error in form.confirmPassword.errors %}
          <p class="help is-danger">{{error}}</p>
        {% endfor %} {% endif %}
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" id="terms"/>
            I agree to the <a href="#">terms and conditions</a>
            <p class="help">
              Already Have an account ?
              <a class="is-link" href="{{url_for('user.loginUser')}}">Login</a>
            </p>
          </label>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          {{form.submit(class="button is-link",id="submitBtn")}}
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  let termsAndCondition = document.getElementById('terms');
  let submit = document.getElementById("submitBtn");
  submit.addEventListener('click',(e)=>{
    if(!termsAndCondition.checked){
      e.preventDefault()
      console.log("Agree to the terms and condition");
    }
  })
</script>
{% endblock register %}
