{%extends 'layout.html'%} {% block content %}
<div style="padding: 2rem;margin-top: 4rem;">
  <table class="table is-fullwidth is-bordered" >
    <thead>
      <tr>
        <th>Sponsorship Band</th>
        <th>Yearly Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          A
        </td>
        <td>
          2500
        </td>
      </tr>
      <tr>
        <td>
          B
        </td>
        <td>
          2000
        </td>
      </tr>
      <tr>
        <td>
          C
        </td>
        <td>
          1500
        </td>
      </tr>
  
      <tr>
        <td>
          D
        </td>
        <td>
          1000
        </td>
      </tr>
      <tr>
        <td>
          E
        </td>
        <td>
          500
        </td>
      </tr>
    </tbody>
  </table>
</div>
<a href="/apply" class="button is-link" style="margin-left: 2rem;">Become a Sponsor today</a>
{% endblock %}
